body {
    font-family: 'Roboto';
}

.header {
    display:flex;
    background-color:#1F2937;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    
}

.header-logo {
    width:3%;
    height:3%;
    padding:15px;

}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding:0;
    gap: 10px;
}

li {
    display: inline;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}